<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="row">
    <div class="navbar navbar-inverse navbar-fixed-top indigo">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) -->
                    <a class="navbar-brand" style="background-color:white" href="@Url.Action("Index","Home")">
                        
                      <img width="50" src="~/Content/image/Drawing.png" /> 
                    </a>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home",new { } , new { @class="white-text" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { }, new { @class = "white-text" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { }, new { @class = "white-text" })</li>
                    
                        @Html.Partial("_LoginPartial")
                        
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="container body-content">
        <div class="row mainImage">
            <div class="col-sm-12">
                <img class="img-responsive center-block" src="~/Content/image/Drawing.png" />
            </div>
        </div>

        @RenderBody()
        <hr />
        <footer class="row" style="clear:both">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
